.footer{ 
    margin-top: 10px;
    padding: 12px;
    box-sizing: border-box;
}
.footer .contenedor1 h4{
    text-align: center;
    color: white;
    padding-bottom: 5%;
    font-size: 18px;
}
.footer {
    text-align: justify;
    padding: 5%;
    font-size: 14px;
}

.footer-redes-sociales {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 20px;

}
.footer-redes-sociales a{
    text-decoration: none;
    color:white;
}

@media(min-width: 768px) {
    .footer .contenedor1 h4{
        font-size: 18px;
    }
    .footer .contenedor1 p{
    font-size: 14px;
    }
.footer-redes-sociales{
    font-size: 20px;
    margin: 0 auto;
}
}

@media(min-width: 1024px) {
    .footer .contenedor1 h4{
        font-size: 20px;
    }
    .footer .contenedor1 p{
        font-size: 14px;
    }
    .footer-redes-sociales{
        font-size: 25px;
    }

}