.home{
  background-color: var(--colorAzulOscuro);
  font-family: var(--tipografiaGeneral);
}

.celulares-ofertas h1{
  text-decoration: none;
  text-align: center;
  font-size: 50px;
border:5px dotted gray;
color: antiquewhite;
}

.main__banner-carousel
.carousel-inner
.carousel-item
img {
  object-fit: contain;

}


@media (min-width:768px){
  .main__banner-carousel
.carousel-inner
.carousel-item
img {
  object-fit: cover;
  height: 500px;
}
}

@media (min-width:1024px){}