<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <script src="https://kit.fontawesome.com/e5b2ab8962.js" crossorigin="anonymous"></script>
    <title>Cellshop | Detalles de productos</title>
</head>
<body>
    <main class="main">
        <article class="main__article">
            <h3>LG Q60</h3>
            <div class="imagen">
                <img src="/imgs/lg/lg_q60-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$59.998</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 64GB </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 13 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: 16 Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>LG K52</h3>
            <div class="imagen">
                <img src="/imgs/lg/lg-k52-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$89.899</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 4GB RAM, 64GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 13 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera:Cámara 48MP </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>LG K61</h3>
            <div class="imagen">
                <img src="/imgs/lg/LG-K61-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$40.129</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 4GB RAM, 128GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 16 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera:Cámara 48MP </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>LG V40</h3>
            <div class="imagen">
                <img src="/imgs/lg/LG-V40-ThinQ-0-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$278.800</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 6GB RAM, 64GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 8 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera:Cámara 16MP </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article> 
        <article class="main__article">
            <h3>LG Velvet</h3>
            <div class="imagen">
                <img src="/imgs/lg/LG-Velvet-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$185.000</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 6GB RAM, 128GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 16 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera:Cámara 48MP </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article> 
    </main>
</body>
</html>