<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <script src="https://kit.fontawesome.com/e5b2ab8962.js" crossorigin="anonymous"></script>
    <title>Cellshop | Detalles de productos</title>
</head>
<body>
    <main class="main">
        <article class="main__article">
            <h3>Samsung Oppo A54s</h3>
            <div class="imagen">
                <img src="/imgs/samsung/Oppo-A54s-samsung-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$76.489</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 4GB RAM,128GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 8 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: 50 Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>Samsung Galaxy A14</h3>
            <div class="imagen">
                <img src="/imgs/samsung/Samsung-Galaxy-A14-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$96.599</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 4GB RAM, 128GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 13 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 50Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>Samsung Galaxy A52</h3>
            <div class="imagen">
                <img src="/imgs/samsung/Samsung-Galaxy-A52-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$169.999</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 8GB RAM, 128GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 32 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 64Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>Samsung Galaxy Z Flip</h3>
            <div class="imagen">
                <img src="/imgs/samsung/samsung-galaxy-z-flip-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$399.999</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 8GB RAM, 256GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 10 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 12Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>       
        <article class="main__article">
            <h3>Samsung Galaxy S23</h3>
            <div class="imagen">
                <img src="/imgs/samsung/Samsung-ultra-s23-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$559.999</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 12GB RAM, 256GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 12 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 200Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>     
    </main>
</body>
</html>