<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <script src="https://kit.fontawesome.com/e5b2ab8962.js" crossorigin="anonymous"></script>
    <title>Cellshop | Detalles de productos</title>
</head>
<body>
    <main class="main">
        <article class="main__article">
            <h3>Auriculares In-ear Inalámbricos</h3>
            <div class="imagen">
                <img src="/imgs/accesorios/61u-BsJ2-eL._AC_SL1000_-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$10.000</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-brands fa-bluetooth"></i> Bluetooth: Sí.</p></li>
            <li><p><i class="fa-solid fa-microphone"></i> Micrófono: Sí.</p></li>
            <li><p><i class="fa-solid fa-inbox"></i> Estuche recargable. </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>Harman JBL Tune 110 JBLT110-Black-1</h3>
            <div class="imagen">
                <img src="/imgs/accesorios/auriculares_jbl-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$6.000</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-volume-high"></i> Calidad de sonido JBL de 20 Hz a 20 kHz </p></li>
            <li><p><li><p><i class="fa-solid fa-microphone"></i> Micrófono: Sí.</p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>Cargador Motorola Turbo Power</h3>
            <div class="imagen">
                <img src="/imgs/accesorios/cargador-original-motorola-turbo-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$15.000</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-plug-circle-bolt"></i> Cargador de 50w </p></li>
            <li><p><i class="fa-solid fa-inbox"></i> Con estuche </p></li>
            <li><p><i class="fa-solid fa-diagram-next"></i> Conector Tipo C</p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>Joystick para Jugar en celular</h3>
            <div class="imagen">
                <img src="/imgs/accesorios/joystick_celular-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$17.999</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-brands fa-bluetooth"></i> Bluetooth: Sí.</p></li>
            <li><p><i class="fa-solid fa-diagram-next"></i> Conector Tipo C</p></li>
            <li><p><li><p><i class="fa-solid fa-microphone"></i> Micrófono: Sí.</p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>  
        <article class="main__article">
            <h3>Soporte para apoyar el celular </h3>
            <div class="imagen">
                <img src="/imgs/accesorios/para-celular-soporte-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$1.819</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p >Soporte ajustable, con brazo flexible.</p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>  
    </main>
</body>
</html>