<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <script src="https://kit.fontawesome.com/e5b2ab8962.js" crossorigin="anonymous"></script>
    <title>Cellshop | Detalles de productos</title>
</head>
<body>
    <header>

        <!-- MENSAJE -->
        <div class="mensaje">
            <p>Envìos gratis a CABA y Gran Buenos Aires</p>
        </div>

        <!-- LOGO -->
        <div class="container">
            <a href="/"><img src="/imgs/Logo.jpeg" alt="img-logo"></a>

            <!-- BURGUER MENU -->
            <div class="contenedor-burger-menu">
                <button class="burguer-menu" type="button">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <!-- MENU Y OPCIONES -->
            <div class="contenedor-menu">
                <nav>
                    <ul class="menu-desplegable">
                        <li><a href="/samsung">Samsung</a></li>
                        <li><a href="/motorola">Motorola</a></li>
                        <li><a href="/lg">LG</a></li>
                        <li><a href="/xiomi">Xiomi</a></li>
                        <li><a href="/tcl">TCL</a></li>
                        <li><a href="/accesorios">Accesorios</a></li>
                    </ul>
                </nav>

                <div class="opciones">
                    <ul class="opciones1">
                        <li>
                            <a href="/suscript">Suscribite <i class="far fa-envelope"></i></a>
                        </li>
                        <li>
                            <a href="/support">Soporte <i class="fas fa-headset"></i></a>
                        </li>
                    </ul>

                    <ul class="opciones2">
                        <li>
                            <a href="/login" class="ocult">Mi cuenta </a>
                            <a href=""><i class="fas fa-user user"></i></a>
                        </li>
                        <li>
                            <a href="/cart" class="ocult">Mi carrito </a>
                            <a href=""><i class="fas fa-shopping-cart carrito"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <!-- BUSCADOR -->
        <div class="buscador">
            <form action="/" class="contenedor-buscador">
                <div class="contenedor-input">
                    <input type="text" placeholder="Buscar...">
                    <button class="btn-busqueda"><i class="fas fa-search busqueda"></i></button>
                </div>
            </form>
        </div>

    </header>
    <main class="main">
        <article class="main__article">
            <h3>LG Q60</h3>
            <div class="imagen">
                <img src="/imgs/lg/lg_q60-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$59.998</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 64GB </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 13 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: 16 Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">


            <h3>LG K52</h3>
            <div class="imagen">
                <img src="/imgs/lg/lg-k52-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$89.899</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 4GB RAM, 64GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 13 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera:Cámara 48MP </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>


        <article class="main__article">
            <h3>LG K61</h3>
            <div class="imagen">
                <img src="/imgs/lg/LG-K61-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$40.129</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 4GB RAM, 128GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 16 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera:Cámara 48MP </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">


            
            <h3>LG V40</h3>
            <div class="imagen">
                <img src="/imgs/lg/LG-V40-ThinQ-0-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$278.800</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 6GB RAM, 64GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 8 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera:Cámara 16MP </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article> 
        <article class="main__article">
            <h3>LG Velvet</h3>
            <div class="imagen">
                <img src="/imgs/lg/LG-Velvet-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$185.000</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 6GB RAM, 128GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 16 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera:Cámara 48MP </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article> 
    </main>
    <footer class="footer">
        <div class="contenedor1">
            <h4>NOSOTROS</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, quisquam! Laborum, minus quasi? Aspernatur
                tenetur quasi vel suscipit deserunt ad, porro quia amet ullam nemo!</p>
            <h4>SEGUINOS</h4>
        </div>
        <div class="footer-redes-sociales">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
            
        </div>
    </footer>
</body>
</html>