<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <script src="https://kit.fontawesome.com/e5b2ab8962.js" crossorigin="anonymous"></script>
    <title>Cellshop | Detalles de productos</title>
</head>
<body>
    <main class="main">
        <article class="main__article">
            <h3>Motorola e13</h3>
            <div class="imagen">
                <img src="/imgs/moto/moto_e13-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$76.489</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 2GB RAM,64GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 5 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: 13 Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>Moto Edge 30</h3>
            <div class="imagen">
                <img src="/imgs/moto/Moto_Edge_30-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$360.000</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 12GB RAM, 256GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 60 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 200Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>Motorola G42</h3>
            <div class="imagen">
                <img src="/imgs/moto/MOTO_G42-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$89.999</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 4GB RAM, 128GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 16 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 50Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>Motorola E22</h3>
            <div class="imagen">
                <img src="/imgs/moto/Motorola-Moto-E22-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$53.999</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 3GB RAM, 32GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 5 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 16Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>       
    </main>
</body>
</html>