<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <script src="https://kit.fontawesome.com/e5b2ab8962.js" crossorigin="anonymous"></script>
    <title>Cellshop | Detalles de productos</title>
</head>
<body>
    <main class="main">
        <article class="main__article">
            <h3>Xiaomi 12T</h3>
            <div class="imagen">
                <img src="/imgs/xiomi/xiaomi_12T-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$331.808</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 8GB RAM,256GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 20 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: 108 Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>Xiaomi Mi 9</h3>
            <div class="imagen">
                <img src="/imgs/xiomi/xiaomi-mi-9-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$120.000</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 4GB RAM, 64GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 8 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 13Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>Xiaomi Mi 9c</h3>
            <div class="imagen">
                <img src="/imgs/xiomi/xiaomi-redmi-9c-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$95.419</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 4GB RAM, 128GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 5 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 13Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>Xiaomi Note 6 </h3>
            <div class="imagen">
                <img src="/imgs/xiomi/xiaomi-redmi-note-6-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$80.999</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 4GB RAM, 64GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 20 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 12Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>  
        <article class="main__article">
            <h3>Xiaomi Poco M3 </h3>
            <div class="imagen">
                <img src="/imgs/xiomi/xiomi_pocophoneM3-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$205.819</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 6GB RAM, 128GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 8 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 48Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>  
    </main>
</body>
</html>