<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <script src="https://kit.fontawesome.com/e5b2ab8962.js" crossorigin="anonymous"></script>
    <title>Cellshop | Detalles de productos</title>
</head>
<body>
    <main class="main">
        <article class="main__article">
            <h3>TCL 30 SE</h3>
            <div class="imagen">
                <img src="/imgs/tcl/tcl-30-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$62.899</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 4GB RAM,128GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 8 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: 50 Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>TCL 405</h3>
            <div class="imagen">
                <img src="/imgs/tcl/TCL-405-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$46.999</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 2GB RAM, 32GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 2 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 13Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>TCL 408</h3>
            <div class="imagen">
                <img src="/imgs/tcl/TCL-408-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$52.999</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 4GB RAM, 64GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 8 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 50Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>
        <article class="main__article">
            <h3>TCL 20 Y</h3>
            <div class="imagen">
                <img src="/imgs/tcl/tcl20y-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$68.999</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria interna: 4GB RAM, 128GB ROM </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 8 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: Cámara 48Mpx </p></li>
            <li class="borde-carrito"><a class="carrito" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </article>       
    </main>
</body>
</html>