/* ----- KEYFRAMES ----- */

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* ----- MAIN ----- */

.cart {
    color: #fff;
}

/* --- MENSAJE --- */

.contenedor-msj {
    background-color: var(--colorCeleste);
    color: #fff;
    font-size: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.contenedor-msj p {
    animation: marquee 10s linear infinite;
}

/* --- PRODUCTO --- */

/* .contenedor-producto {
    display: flex;
    margin: 20px 25px;
    align-items: center;
} */

.contenedor-producto img {
    width: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* PRECIO */

.container-precio {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    width: 200px;
}

.container-precio h2 {
    font-size: 17px;
}

.contenedor-precio {}

.contenedor-precio p {
    font-size: 13px;
}

/* CANTIDAD */

.container-precio form {}

.container-precio form label {
    font-size: 15px;
}

.container-precio form select {
    height: 18px;
}

.container-precio form select option {}

/* TRASH */

.contenedor-icon {
    display: flex;
    margin-top: 10px;
    width: 121px;
    border: 1px solid #fff;
    padding: 6px;
    align-items: center;
    justify-content: center;
}

.contenedor-icon i {
    margin-right: 10px;
    font-size: 11px;
}

.contenedor-icon p {
    font-size: 10px;
}

/* --- RESUMEN DE COMPRA --- */

.contenedor-resumen-compra {
    padding: 0% 5%;
}

.contenedor-resumen-compra h3 {
    text-align: center;
    text-decoration: underline;
}

.contenedor-resumen-compra .cupon {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10%;
    align-items: flex-end;
}

.contenedor-resumen-compra .cupon label {}

.contenedor-resumen-compra .cupon input {
    padding: 5px;
    height: 30px;
}

.contenedor-resumen-compra .cupon input:focus {
    box-shadow: 0px 0px 5px cadetblue;
    outline: none;
}

.contenedor-resumen-compra .cupon button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: rgb(189, 182, 182);
    color: var(--colorAzulTenue);
    border: none;
    cursor: pointer;
    height: 30px;
    border-radius: 2px;
}

.contenedor-resumen-compra .cupon button:hover {
    background-color: var(--colorCeleste);
}

.contenedor-resumen-compra .contenedor-item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3%;
}

.contenedor-resumen-compra .contenedor-item:last-child {
    padding-top: 3%;
}

.contenedor-resumen-compra .contenedor-item .item {}

.contenedor-resumen-compra .contenedor-item .precio {}

/* --- BOTONES --- */

.botones {
    display: flex;
    flex-direction: column;
}

.botones button {
    background-color: rgb(189, 182, 182);
    color: var(--colorAzulTenue);
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-top: 5%;
    width: 90%;
    align-self: center;
    cursor: pointer;
}

.botones button:hover {
    background-color: var(--colorCeleste);
}

/* --- PROMOS ---- */

.promos {
    display: flex;
    padding: 10% 3%;
    justify-content: center;
}

.promos i {
    font-size: 30px;
    padding-top: 8%;
}

.promos .credit-card {
    padding-left: 3%;
    text-align: center;
}

.promos .credit-card p {
    padding-top: 5%;
    padding-bottom: 5%;
}

.promos a {
    color: var(--colorCeleste);
    text-decoration: underline;
    font-size: 15px;
}

/* ---------- MEDIA QUERIES ---------- */

/* ---- SMARTPHONES ----- */

@media (min-width:481px) {}

/* ----- TABLET -----  */

@media (min-width:768px) {
    /* --- MAIN --- */

    .cart {}

    /* --- MENSAJE --- */

    .contenedor-msj {
        font-size: 15px;
    }

    .contenedor-msj p {}

    /* --- PRODUCTO --- */

  /*   .contenedor-producto {
        justify-content: space-around;
        margin-top: 30px;
    } */

    .contenedor-producto img {
        width: 250px;
    }

    /* PRECIO */

    .container-precio {
        width: 50%;
    }

    .container-precio h2 {
        font-size: 25px;
        margin-bottom: 10px;
        width: 210px;
    }

    .contenedor-precio {
        display: flex;
        margin-bottom: 10px;
    }

    .contenedor-precio p {
        font-size: 18px;
    }

    /* CANTIDAD */

    .container-precio form {
        margin-bottom: 10px;
    }

    .container-precio form label {}

    .container-precio form select {}

    .container-precio form select option {}

    /* TRASH */

    .contenedor-icon {}

    .contenedor-icon i {}

    .contenedor-icon p {}

    /* --- RESUMEN DE COMPRA --- */

    .contenedor-resumen-compra {
        width: 70%;
        margin: 0 auto;
    }

    .contenedor-resumen-compra h3 {
        font-size: 25px;
        padding-bottom: 2%;
    }

    .contenedor-resumen-compra .cupon {
        width: 60%;
        margin: 0px auto;
    }

    .contenedor-resumen-compra .cupon label {}

    .contenedor-resumen-compra .cupon input {
        width: 70%;
    }

    .contenedor-resumen-compra .cupon button {}

    .contenedor-resumen-compra .cupon button:hover {}

    .contenedor-resumen-compra .contenedor-item {
        font-size: 20px;
    }

    .contenedor-resumen-compra .contenedor-item:last-child {}

    .contenedor-resumen-compra .contenedor-item .item {}

    .contenedor-resumen-compra .contenedor-item .precio {}

    /* --- BOTONES --- */

    .botones {
        width: 70%;
        margin: 0 auto;
    }

    .botones button {}

    /* --- PROMOS --- */

    .promos {
        width: 50%;
        margin: 0 auto;
        padding-top: 5%;
    }

    .promos i {
        margin-right: 5%;
    }

    .promos .credit-card {}

    .promos .credit-card p {}

    .promos a {}
}

/* ----- DESKTOP ----- */

@media (min-width:1024px) {
    /* --- MAIN --- */

    .cart {}

    /* --- MENSAJE --- */

    .contenedor-msj {
        font-size: 20px;
    }

    .contenedor-msj p {}

    /* --- PRODUCTO --- */

    .contenedor-producto {}

    .contenedor-producto img {
        width: 400px;
    }

    /* PRECIO */

    .container-precio {
        width: 70%;
    }

    .container-precio h2 {
        font-size: 40px;
        margin-bottom: 20px;
        width: 400px;
    }

    .contenedor-precio {
        margin-bottom: 20px;
    }

    .contenedor-precio p {
        font-size: 25px;
        margin-right: 10px;
    }

    /* CANTIDAD */

    .container-precio form {
        margin-bottom: 20px;
    }

    .container-precio form label {
        font-size: 20px;
    }

    .container-precio form select {
        height: 30px;
        width: 60px;
    }

    .container-precio form select option {}

    /* TRASH */

    .contenedor-icon {
        width: 215px;
        padding: 10px;
    }

    .contenedor-icon i {
        font-size: 20px;
    }

    .contenedor-icon p {
        font-size: 15px;
    }

    /* --- RESUMEN DE COMPRA --- */

    .contenedor-resumen-compra {
        width: 80%;
    }

    .contenedor-resumen-compra h3 {
        font-size: 30px;
    }

    .contenedor-resumen-compra .cupon {
        padding-bottom: 8%;
    }

    .contenedor-resumen-compra .cupon label {}

    .contenedor-resumen-compra .cupon input {
        font-size: 20px;
        width: 80%;
        height: 40px;
    }

    .contenedor-resumen-compra .cupon button {
        font-size: 20px;
        height: 40px;
    }

    .contenedor-resumen-compra .cupon button:hover {}

    .contenedor-resumen-compra .contenedor-item {
        font-size: 25px;
    }

    .contenedor-resumen-compra .contenedor-item:last-child {}

    .contenedor-resumen-compra .contenedor-item .item {}

    .contenedor-resumen-compra .contenedor-item .precio {}

    /* --- BOTONES --- */

    .botones {}

    .botones button {
        font-size: 20px;
    }

    /* --- PROMOS --- */

    .promos {
        width: 50%;
    }

    .promos i {
        font-size: 50px;
    }

    .promos .credit-card {}

    .promos .credit-card p {
        font-size: 20px;
    }

    .promos a {
        font-size: 20px;
    }
}