.celular .card-img-top {

    width: 180px;

    margin: 0 auto;

    height: 180px;

    object-fit: contain;
}




.modelo h5 {
    font-size: 20px;
    color: aqua;
    margin: 20px
}

.btn-outline-primary {
    margin-left: 10px;
    width: 100px;
    height: 30px;
    padding: 0px;
}

@media (min-width:768px) {

    .celulares {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


    }

    .imagen_celulares {
        width: 50%;
        margin-top: 20px;
    }

    .modelo {
        width: 50%;
        margin-bottom: 30px;
    }



    .modelo h5 {
        font-size: 30px;

        margin-top: 100px;
    }

    a .btn-outline-primary {

        width: 60px;
        height: 40px;
        font-size: 20px;
    }
}

@media (min-width:1024px) {


    .imagen_celulares img {
        width: 40%;
        margin-left: 100px;
    }

    .modelo h5 {
        font-size: 30px;


    }

}