footer {
    width: 100%;
    height: auto;
    background-color: var(--colorOro);
    color: white;
    font-size: 14px;
    /* Reduje el tamaño del texto */
    padding: 10px;
    /* Reduje el espacio interno */
    box-sizing: border-box;
}

.contenedor {
    display: flex;
    justify-content: space-between;
}

.seccion {
    width: 49%;
    text-align: center;
}

.seccion p {
    margin-bottom: 10px;
}

.contenedor-span {
    text-align: center;
}

.fa {
    font-size: 20px;
    margin-right: 10px;
    color: white;
    transition: color 0.3s ease;
}

.fa:hover {
    color: #ccc;
}

@media(min-width: 768px) {
    .contenedor {
        flex-wrap: wrap;
    }
}