footer {
    width: 100%;
    height: auto;
    background-color: var(--colorOro);
    color: white;
    font-size: 10px;   
}

.contenedor {
   text-align: center;
    display: flex;
}

.redes {
    width: 49%;
}

.ubicacion {
    width: 49%;
}

.contenedor-span {
    text-align: center;
}

@media(min-width: 768px) {

    footer {
        font-size: 16px;
    }



}