header {
    background-color: var(--colorAzulOscuro);
}

/* MENSAJE */

/* .mensaje {} */

.mensaje p {
    background-color: #fff;
    color: var(--colorCeleste);
    font-size: 7px;
    padding: 1%;
    text-align: center;
    margin-bottom: 10px;
}

/* LOGO */

header .container {
    margin: 2%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

/* BURGUER MENU */

header .container .contenedor-burger-menu {
    text-align: center;
    order: -1;
}

header .container .contenedor-burger-menu button {
    background: none;
    color: #fff;
    border: none;
    border-radius: 4px;
    /*   padding: 8px 10px; */
}

header .container .contenedor-burger-menu button i {
    font-size: 1.2rem;
}

/* MENU */

/* .contenedor-menu {}

.contenedor-menu nav {} */

header .contenedor-menu nav ul.menu-desplegable {
    display: none;
}

/* .contenedor-menu nav ul.menu-desplegable li {}

.contenedor-menu nav ul.menu-desplegable li a {} */

/* OPCIONES */

header .opciones {
    display: inline-flex;
    font-size: 1rem;
}

header .opciones1 {
    display: none;
}

/* .opciones1 li {}

.opciones1 li a {} */

header .opciones1 li a i {
    margin-left: 5px;
}

header .opciones2 {
    display: flex;
    padding-left: 0
}

.opciones2 a {
    color: #fff
} 

/* .opciones2 li {} */

.opciones2 li a.ocult {
    display: none;
}

.opciones2 li a i {
    color: #fff;
}

.opciones2 li a i:first-child {
    margin: 0;
}

.opciones2 li a i:last-child {
    margin-left: 15px;
    margin-right: 10px;
}

/* BUSCADOR */

.buscador {
    padding: 2%;
}

.buscador .contenedor-buscador {
    display: inline;
}

.buscador .contenedor-buscador .contenedor-input {
    position: relative;
}

.buscador .contenedor-buscador input {
    width: 100%;
    border: 1px solid silver;
    padding: 3px;
    padding-right: 30px;
    border-radius: 5px;
    font-size: 10px;
}

.buscador .contenedor-buscador button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 10px;
}

/* .buscador .contenedor-buscador button i {} */

/* ---------- MEDIA QUERIES ---------- */

/* SMARTPHONES */

@media (min-width:481px) {}

/* TABLET */

@media (min-width:768px) {
    /* header {
        display: flex;
        flex-direction: column;
    } */

    /* MENSAJE */

    .mensaje p {
        font-size: 12px;
    }

    /* LOGO */

    .container {
        align-items: center;
        margin: 1px;
    }

    .container a img {
        width: 150px;
        position: relative;
        left: 0;
    }

    /* BURGUER MENU */

    /*  .container .contenedor-burger-menu {}

    .container .contenedor-burger-menu button {}

    .container .contenedor-burger-menu button i {} */

    /* MENU */

    /*     .contenedor-menu {
}

    .contenedor-menu nav {}

    .contenedor-menu nav ul.menu-desplegable {}

    .contenedor-menu nav ul.menu-desplegable li {}

    .contenedor-menu nav ul.menu-desplegable li a {} */

    /* OPCIONES */

    /*  .opciones {
} */

    .opciones1 {
        display: inline-flex;
        font-size: 1rem;
    }

    /* .opciones1 li {
} */

    .opciones1 li a {
        color: #fff;
        margin-right: 10px;
    }

    /*   .opciones1 li a i {} */

    .opciones2 {
        font-size: 1.1rem;
    }

    .opciones2 li a.ocult {
        display: inline-flex;
        color: #fff;
        margin-right: 10px;
    }

    /* .opciones2 li a i {}

    .opciones2 li a i:first-child {} */

    .opciones2 li a i:last-child {
        margin-left: 0;
    }

    /* BUSCADOR */

    .buscador {
        width: 90%;
        margin-left: 5%;
        padding-top: 1%;
        font-size: 20px;
    }

    /*   .buscador .contenedor-buscador {}

    .buscador .contenedor-buscador .contenedor-input {} */

    .buscador .contenedor-buscador input {
        font-size: 13px;
    }

    .buscador .contenedor-buscador button {
        font-size: 15px;
    }

    /*  .buscador .contenedor-buscador button i {} */
}

/* DESKTOP */

@media (min-width:1024px) {
    /* header {} */

    /* MENSAJE */

    .mensaje p {
        font-size: 15px;
    }

    /* LOGO */

    /*  .container {}

    .container img {} */

    .container a img {
        width: 215px;
    }

    /* BURGUER MENU */

    /*  .container .contenedor-burger-menu {}

    .container .contenedor-burger-menu button {} */

    .container .contenedor-burger-menu button i {
        font-size: 1.5rem;
    }

    /* MENU */

    /*  .contenedor-menu {}

    .contenedor-menu nav {}

    .contenedor-menu nav ul.menu-desplegable {}

    .contenedor-menu nav ul.menu-desplegable li {}

    .contenedor-menu nav ul.menu-desplegable li a {} */

    /* OPCIONES */

    /*   .opciones {} */

    .opciones1 {
        font-size: 1rem;
    }

    .opciones1 li {
        /* margin-left: 10px; */
    }

    /*   .opciones1 li a {}

    .opciones1 li a i {} */

    .opciones2 {
        font-size: 1rem;
    }

    .opciones2 li {
        /*   margin-left: 10px; */
    }

    /*   .opciones2 li a.ocult {}

    .opciones2 li a i {}

    .opciones2 li a i:first-child {}

    .opciones2 li a i:last-child {} */

    /* BUSCADOR */

    .buscador {
        width: 80%;
        margin-left: 10%;
        padding-top: 1%;
    }

    /*  .buscador .contenedor-buscador {}

    .buscador .contenedor-buscador .contenedor-input {} */

    .buscador .contenedor-buscador input {
        width: 100%;
        font-size: 15px;
    }

    /*   .buscador .contenedor-buscador button {}

    .buscador .contenedor-buscador button i {} */
}