.home {
  background-color: var(--colorAzulOscuro);
  font-family: var(--tipografiaGeneral);
}

.home .card {
  background-color: rgba(166, 149, 240, 0.959);
}

.card-hover-zoom {
  transition: transform 0.2s;
}

.card-hover-zoom:hover {
  transform: scale(1.05); /* Cambia el valor según tus preferencias para el aumento de tamaño */
}

.carousel-inner .carousel-item img {
  object-fit: cover;
  height: 100px;
  width: 150px;
}

.banner_mas_vendido img {
  width: 300px;
  margin: 10px;
}

.celulares-ofertas h1 {
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  color: antiquewhite;
  margin: 60px;
}

.accesoriosimg img:hover {
  box-shadow: 0px 10px 40px rgb(158, 183, 194);
}

.celulares-ofertas .glider img {
  width: 400px;
  height: 300px;
}

.carousel-inner .carousel-item img {
  object-fit: contain;
}

.home .card-img-top {
  
width: 180px;
  
margin: 0 auto;
  
height: 180px;
  
object-fit: contain;
}

.accesorios h1 {
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  color: antiquewhite;
  margin: 50px;
}

.accesoriosimg img {
  width: 200px;
  height: 200px;
  margin-left: 60px;
}

.btn-group {
  margin-left: 50px;
}

@media (min-width:768px) {
  .carousel-inner .carousel-item img {
    width: 400px;
    height: 200px;
  }

  .banner_mas_vendido img {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .accesorios {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
  }

  .accesoriosimg img {
    margin-left: 80px;
  }
}

@media (min-width:1024px) {
   .col-lg-4 {
    flex: 0 0 auto;
    width: 20%;
  } 
}