.registro {
    background-color: var(--colorAzulOscuro);
}
.registro .card {
    background-color: rgba(255, 255, 255, 0.1);
        border-width: 3px;
        border-style: solid;
        border-color: black;
    }
    .registro label {
        color: rgb(201, 179, 153);
    }
.registro .contenedor {
    margin-bottom: 10px;
    text-align: left;
}

.registro h4 {
    text-align: center;
}

.registro label {
    font-size: 12px;
}

.registro input {
    font-size: 10px;
    margin: 0;
}


/* .formulario-registro {
    text-align: center;
}
.formulario-registro h4{
    margin-top:20px;
    font-size: 18px;
    color:white;
}
.nombre{ 
    text-align: center;
    font-size: 12px;
    padding: 10px;
    

}
.nombre input{
font-size: 12px;
width: 80%;
border-radius: 5px;
padding: 8px;
}
.apellido{ 
    text-align: center;
    font-size: 12px;
    padding: 10px;
}
.apellido input{
font-size: 12px;
width: 80%;
border-radius: 5px;
padding: 8px;
}
.email{ 
    text-align: center;
    font-size: 12px;
    padding: 10px;
}
.email input{
font-size: 12px;
width: 80%;
border-radius: 5px; 
padding: 8px;       
}
.contraseña{ 
    text-align: center;
    font-size: 12px;
    padding: 10px;
}    
.contraseña input{
    font-size: 12px;
    width:80%;
    border-radius:5px;
    padding: 8px;
} 
.confirmar-contraseña{
    text-align: center;
    font-size: 12px;
    padding:10px
}   
.confirmar-contraseña input{
font-size: 12px;
width: 80%;
border-radius: 5px;
padding: 8px;
}

.terminos2 input{
        width: 10px;
        height: 10px;
    }
.terminos2 label{
        font-size: 10px;
        padding: 10px;
}
.boton2{
    margin-top: 8px;
}
.boton2 input {
    width: 30%;
    margin: 5px;
    font-size: 12px;
    padding: 8px;
    background-color: var(--colorCeleste);
}
.cuenta{
    margin-left: 20px;
    text-decoration: none;
} */

@media(min-width: 768px) {

    .registro label {
        font-size: 14px;
    }

    .registro input {
        font-size: 12px;
    }

    /* .formulario-registro h4{
    font-size: 18px;
}
.nombre input{
    font-size: 12px;
    width: 50%;
}
.apellido input{
    font-size: 12px;
    width: 50%;
    padding: 8px;
}    
.email input{
    font-size: 12px;
    width: 50%;
    padding:8px;
}
.contraseña input{
    font-size: 12px;
    width: 50%;
    padding:8px;
}
.confirmar-contraseña input{
    font-size: 12px;
    width: 50%;
    padding:8px;
}
.boton2 input{
    width: 30%;
} 
.terminos2 label{
    font-size: 12px;
} 
.terminos2 input{
    width: 13px;
    height: 13px;
}  
.cuenta{
    font-size: 12px;
} */
}

@media(min-width: 1024px) {
    .registro label {
        font-size: 15px;
    }

    .registro input {
        font-size: 13px;
    }
    /* .formulario-registro h4{
        font-size: 35px;
    }
.nombre input{
    font-size: 12px;
    width: 60%;
} 
.apellido input{
    font-size: 12px;
    width: 60%;
}
.email input{
    font-size: 12px;
    width: 60%;
}
.contraseña input{
    font-size: 12px;
    width: 60%;
}
.confirmar-contraseña input{
    font-size: 12px;
    width: 60%;
}
.terminos2 label{
    font-size: 12px;
}
.boton2 input{
    width: 20%;
    font-size: 30px;
}
.cuenta{
    font-size: 12px;
} */
}