<!DOCTYPE html>
<html lang="en">

<%- include('partial/head',{ title: 'Mi Carrito' }) %>

    <body>
        <%- include('partial/header') %>

            <main class="cart">

                <!-- MENSAJE -->
                <div class="contenedor-msj">
                    <p>TODOS LOS PRODUCTOS ESTARAN LISTOS PARA ENVIOS 24 HS. DESPUÉS DE EFECTUADA LA COMPRA.</p>
                </div>

                <!-- PRODUCTO -->
                <div class="container m-4">
                    <div class="contenedor-producto row m-0 p-0 gap-1">
                        <!-- LISTADO PRODUCTOS -->
                    </div>
                </div>

                <!-- RESUMEN DE COMPRA -->
                <div class="contenedor-resumen-compra">
                    <h3>RESUMEN DE COMPRA</h3>

                    <div class="cupon">
                        <label for="cupon"></label>
                        <input type="text" id="cupon" placeholder="Ingresar código descuento">
                        <button type="submit">Aplicar</button>
                    </div>

                   <!-- RESUMEN -->
                <div class="carrito__box_resumen">
                    <div class="carrito__conteiner_resumen">
                        <div class="carrito__conteiner_arti">
                            <div class="carrito_arti">
                                <p>Total de articulos:</p>
                                <h4 id="totalArts">0</h4>
                            </div>
                            <div class="carrito_total">
                                <p>Total:</p>
                                <h4>$<span id="totalPriceOrder">0</span></h4>
                            </div>
                        </div>
                        <div class="carrito__conteiner_finCompr">
                            <a href="#"><button class="btn btn-success m-4" type="button">Realizar compra</button></a>
                        </div>
                        <div class="carrito__conteiner_nextTrash">
                            <a class="btn btn-primary m-2" href="/">Continuar comprando</a>
                            <a class="btn btn-danger m-2" href="#">Vaciar carrito</a>
                        </div>
                    </div>
                </div>

                <!-- PROMOS -->
                <div class="promos">
                    <i class="fas fa-credit-card"></i>
                    <div class="credit-card">
                        <p>Ver medios de pago y cuotas</p>
                        <a href="#">VER PROMOCIONES BANCARIAS</a>
                    </div>
                </div>

            </main>

            <%- include('partial/footer') %>
            <script src="/javascripts/cart.js"></script>

    </body>

</html>