<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/e5b2ab8962.js" crossorigin="anonymous"></script>
    <title>Cellshop | Detalles de productos</title>
</head>
<body>
    <header>

        <!-- MENSAJE -->
        <div class="mensaje">
            <p>Envìos gratis a CABA y Gran Buenos Aires</p>
        </div>

        <!-- LOGO -->
        <div class="container">
            <a href="/"><img src="/images/Logo.jpeg" alt="img-logo"></a>

            <!-- BURGUER MENU -->
            <div class="contenedor-burger-menu">
                <button class="burguer-menu" type="button">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <!-- MENU Y OPCIONES -->
            <div class="contenedor-menu">
                <nav>
                    <ul class="menu-desplegable">
                        <li><a href="/samsung">Samsung</a></li>
                        <li><a href="/motorola">Motorola</a></li>
                        <li><a href="/lg">LG</a></li>
                        <li><a href="/xiomi">Xiomi</a></li>
                        <li><a href="/tcl">TCL</a></li>
                        <li><a href="/accesorios">Accesorios</a></li>
                    </ul>
                </nav>

                <div class="opciones">
                    <ul class="opciones1">
                        <li>
                            <a href="/users/register">Suscribite <i class="far fa-envelope"></i></a>
                        </li>
                        <li>
                            <a href="/support">Soporte <i class="fas fa-headset"></i></a>
                        </li>
                    </ul>
    
                    <ul class="opciones2">
                        <li>
                            <a href="/users/login" class="ocult">Mi cuenta </a>
                            <a href=""><i class="fas fa-user user"></i></a>
                        </li>
                        <li>
                            <a href="/cart" class="ocult">Mi carrito </a>
                            <a href=""><i class="fas fa-shopping-cart carrito"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <!-- BUSCADOR -->
        <div class="buscador">
            <form action="/" class="contenedor-buscador">
                <div class="contenedor-input">
                    <input type="text" placeholder="Buscar...">
                    <button class="btn-busqueda"><i class="fas fa-search busqueda"></i></button>
                </div>
            </form>
        </div>

    </header>
    <main class="main">
        <article class="main__article">
            <div class="Contenedor1">
            <h3>LG Q60</h3>
            <div class="imagen">
                <img src="/images/lg/lg_q60-removebg-preview.png" alt="producto1" width="300">
            </div>
            <ul type="none">
            <li><h2>$59.998</h2></li>
            <li><h4><a href="">20% de Descuento pagando en efectivo</a></h4></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria ROM: 64GB </p></li>
            <li><p><i class="fa-solid fa-memory"></i> Memoria RAM: 3GB </p></li>
            <li><p><i class="fa-solid fa-camera"></i> Cámara frontal: 13 Mpx</p></li>
            <li><p><i class="fa-solid fa-camera-rotate"></i> Cámara trasera: 16 Mpx </p></li>
            <li><p><i class="fa-solid fa-plug-circle-bolt"></i> Batería: 3.500 mAh </p></li>
            <li class="borde-carrito"><a class="car" href="">- 0 + <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
            </div>
            <div class="especificaciones">
                <h4>Ficha técnica del LG Q6:</h4>
                <ul class="descripcion">
                    
                    
                    <li>PANTALLA:</li> 
                    <li type="none"><p>6,26 pulgadas HD+ 19:9 FullVision</p></li>
                    <li>PROCESADOR:</li> 
                    <li type="none"><p>Ocho núcleos a 2GHz</p></li>
                    <li>RAM:</li>
                    <li type="none"><p>3GB</p></li>
                    <li>ALMACENAMIENTO:</li>
                    <li type="none"><p>64GB, MicroSd hasta 2TB</p></li>    
                    <li>BATERÍA:</li> 
                    <li type="none"><p>3.500 mAh</p></li>                    
                    <li>CÁMARA TRASERA:</li>
                    <li type="none"><p>16 megapíxeles, 2 megapíxeles para profundidad, 5 megapíxeles super gran angular</p></li>                   
                    <li>CÁMARA FRONTAL:</li> 
                    <li type="none"><p>13 megapíxeles</p></li>
                    <li>DIMENSIONES:</li>
                    <li type="none"><p>161,3 x 77 x 8,7 milímetros</p></li>
                    <li>OTROS:</li> 
                    <li type="none"><p>Lector de huellas</p></li>
                    <li type="none"><p>Sonido DTS:X 3D</p></li>
                    <li type="none"><p>Inteligencia artificial</p></li>
                    <li type="none"><p>Protección MIL-STD 810G</p></li>
                    </ul>
            </div>
        </article>
    </main>
    <footer class="footer">
        <div class="contenedor1">
            <h4>NOSOTROS</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, quisquam! Laborum, minus quasi? Aspernatur
                tenetur quasi vel suscipit deserunt ad, porro quia amet ullam nemo!</p>
            <h4>SEGUINOS</h4>
        </div>
        <div class="footer-redes-sociales">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
            
        </div>
    </footer>
</body>
</html>