<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <script src="https://kit.fontawesome.com/47ad367b33.js" crossorigin="anonymous"></script>

</head>

<body class="home">
    <header class="home__header">
        <div class="home__header--top">
            <img src="/imgs/Imagen_de_WhatsApp_2023-06-07_a_las_18.57.12-removebg-preview.png" alt="">
    </header>


    <main class="home__main">
        <div class="home__main__banner">
            <img src="/imgs/banner.jpg" alt="banner">
        </div>



        <section class="celularLG">
            <h2>celulares LG</h2>
            <article class="home__main__article">
                <a href=""><img src="/imgs/lg/LG-K61-removebg-preview.png" alt="imagen_lgk61"></a>
                <div class="home__main__article--description">
                    <h4>LG K61</h4>
                    <h5>$80.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/lg/lg-k52-removebg-preview.png" alt="imagen_lgk52"></a>
                <div class="home__main__article--description">
                    <h4>LG K52</h4>
                    <h5>$70.599</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/lg/LG-V40-ThinQ-0-removebg-preview.png" alt="imagen_lgv40"></a>
                <div class="home__main__article--description">
                    <h4>LG V40</h4>
                    <h5>199.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/lg/LG-Velvet-removebg-preview.png" alt="imagen_lgVelvet"></a>
                <div class="home__main__article--description">
                    <h4>LG VELVET</h4>
                    <h5>$179.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/lg/lg_q60-removebg-preview.png" alt="imagen_lgQ60"></a>
                <div class="home__main__article--description">
                    <h4>LG Q60</h4>
                    <h5>$50.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
        </section>
        <section class="celularesMoto">
            <h2>celulares MOTOROLA</h2>
            <article class="home__main__article">
                <a href=""><img src="/imgs/moto/Moto_Edge_30-removebg-preview.png" alt="imagen_motorola"></a>
                <div class="home__main__article--description">
                    <h4>MOTOROLA</h4>
                    <h5>$249.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/moto/moto_e13-removebg-preview.png" alt="imagen_motorolaE13"></a>
                <div class="home__main__article--description">
                    <h4>MOTOROLA E13</h4>
                    <h5>$50.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/moto/MOTO_G42-removebg-preview.png" alt="imagen_motorolaG42"></a>
                <div class="home__main__article--description">
                    <h4>MOTOROLA G42</h4>
                    <h5>$94.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/moto/Motorola-Moto-E22-removebg-preview.png" alt="imagen_motorolaE22"></a>
                <div class="home__main__article--description">
                    <h4>MOTOROLA E22</h4>
                    <h5>$56.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
        </section>
        <section class="celularesXiomi">
            <h2>celulares XIOMI</h2>
            <article class="home__main__article">
                <a href=""><img src="/imgs/xiomi/xiaomi-mi-9-removebg-preview.png" alt="imagen_xiomiMI9"></a>
                <div class="home__main__article--description">
                    <h4>XIOMI MI9</h4>
                    <h5>$259.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/xiomi/xiaomi-redmi-9c-removebg-preview.png" alt="imagen_xiomiREDMI9c"></a>
                <div class="home__main__article--description">
                    <h4>XIOMI REDMI 9c</h4>
                    <h5>$94.899</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/xiomi/xiaomi-redmi-note-6-removebg-preview.png" alt="imagen_NOTE6"></a>
                <div class="home__main__article--description">
                    <h4>XIOMI NOTE 6</h4>
                    <h5>$50.000</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/xiomi/xiaomi_12T-removebg-preview.png" alt="imagen_"></a>
                <div class="home__main__article--description">
                    <h4>XIOMI 12T</h4>
                    <h5>$950.000</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
<article class="home__main__article">
    <a href=""><img src="/imgs/xiomi/xiomi_pocophoneM3-removebg-preview.png" alt="imagen_POCOPHONE"></a>
    <div class="home__main__article--description">
        <h4>XIOMI POCOPHONE M3</h4>
        <h5>$139.679</h5>
        <i class="fas fa-truck"></i>
        <a href="">ver mas</a>
    </div>
        </section>
        <section class="celularesTCL">
            <h2>celulares TCL</h2>
            <article class="home__main__article">
                <a href=""><img src="/imgs/tcl/tcl-30-removebg-preview.png" alt="imagen_TCL30"></a>
                <div class="home__main__article--description">
                    <h4>TCL 30</h4>
                    <h5>$78.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/tcl/TCL-405-removebg-preview.png" alt="imagen_TCL405"></a>
                <div class="home__main__article--description">
                    <h4>TCL 405</h4>
                    <h5>$33.599</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/tcl/TCL-408-removebg-preview.png" alt="imagen_TCL408"></a>
                <div class="home__main__article--description">
                    <h4>TCL 408</h4>
                    <h5>$52.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/tcl/tcl20y-removebg-preview.png" alt="imagen_TCL20y"></a>
                <div class="home__main__article--description">
                    <h4>TCL 20y</h4>
                    <h5>$68.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
        </section>
        <section class="celularesSamsung">
            <h2>celulares SAMSUNG</h2>
            <article class="home__main__article">
                <a href=""><img src="/imgs/samsung/Oppo-A54s-samsung-removebg-preview.png" alt="imagen_SAMSUNGA54s"></a>
                <div class="home__main__article--description">
                    <h4>SAMSUNG A52s</h4>
                    <h5>$169.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/samsung/Samsung-Galaxy-A14-removebg-preview.png" alt="imagen_samsungA14"></a>
                <div class="home__main__article--description">
                    <h4>SAMSUNG A14</h4>
                    <h5>$104.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/samsung/Samsung-Galaxy-A52-removebg-preview.png" alt="imagen_sansungA52"></a>
                <div class="home__main__article--description">
                    <h4>SAMSUNG A52</h4>
                    <h5>$45.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/samsung/samsung-galaxy-z-flip-removebg-preview.png" alt="imagen_samsungZflip"></a>
                <div class="home__main__article--description">
                    <h4>SAMSUNG Z FLIP</h4>
                    <h5>$399.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/samsung/Samsung-ultra-s23-removebg-preview.png" alt="imagen_samsungS23"></a>
                <div class="home__main__article--description">
                    <h4>SAMSUNG S23 ultra</h4>
                    <h5>$609.999</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
        </section>
<section class="acessorios">
            <h2>ACCESORIOS</h2>
            <article class="home__main__article">
                <a href=""><img src="/imgs/accesorios/auriculares_jbl-removebg-preview.png" alt="imagen_auricularesJBL"></a>
                <div class="home__main__article--description">
                    <h4>AURICULARES JBL</h4>
                    <h5>$4.876</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/accesorios/cargador-original-motorola-turbo-removebg-preview.png" alt="imagen_cargadorMOTOROLA"></a>
                <div class="home__main__article--description">
                    <h4>CARGADOR MOTOROLA TURBO</h4>
                    <h5>$8.199</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/accesorios/joystick_celular-removebg-preview.png" alt="imagen_joystick"></a>
                <div class="home__main__article--description">
                    <h4>JOYSTICK CELULAR</h4>
                    <h5>$7.599</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
            <article class="home__main__article">
                <a href=""><img src="/imgs/accesorios/para-celular-soporte-removebg-preview.png" alt="imagen_SOPORTECELULAR"></a>
                <div class="home__main__article--description">
                    <h4>SOPORTE CELULAR</h4>
                    <h5>$2.219</h5>
                    <i class="fas fa-truck"></i>
                    <a href="">ver mas</a>
                </div>
            </article>
        </section>
</body>
</html>