<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cell Shop</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="glider.css">
    <script src="https://kit.fontawesome.com/47ad367b33.js" crossorigin="anonymous"></script>
</head>
<header>

    <!-- MENSAJE -->
    <div class="mensaje">
        <p>Envìos gratis a CABA y Gran Buenos Aires</p>
    </div>

    <!-- LOGO -->
    <div class="container">
        <a href="/"><img src="/images/Logo.jpeg" alt="img-logo"></a>

        <!-- BURGUER MENU -->
        <div class="contenedor-burger-menu">
            <button class="burguer-menu" type="button">
                <i class="fas fa-bars"></i>
            </button>
        </div>

        <!-- MENU Y OPCIONES -->
        <div class="contenedor-menu">
            <nav>
                <ul class="menu-desplegable">
                    <li><a href="/samsung">Samsung</a></li>
                    <li><a href="/motorola">Motorola</a></li>
                    <li><a href="/lg">LG</a></li>
                    <li><a href="/xiomi">Xiomi</a></li>
                    <li><a href="/tcl">TCL</a></li>
                    <li><a href="/accesorios">Accesorios</a></li>
                </ul>
            </nav>

            <div class="opciones">
                <ul class="opciones1">
                    <li>
                        <a href="/users/register">Suscribite <i class="far fa-envelope"></i></a>
                    </li>
                    <li>
                        <a href="/support">Soporte <i class="fas fa-headset"></i></a>
                    </li>
                </ul>

                <ul class="opciones2">
                    <li>
                        <a href="/users/login" class="ocult">Mi cuenta </a>
                        <a href=""><i class="fas fa-user user"></i></a>
                    </li>
                    <li>
                        <a href="products/cart" class="ocult">Mi carrito </a>
                        <a href=""><i class="fas fa-shopping-cart carrito"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <!-- BUSCADOR -->
    <div class="buscador">
        <form action="/" class="contenedor-buscador">
            <div class="contenedor-input">
                <input type="text" placeholder="Buscar...">
                <button class="btn-busqueda"><i class="fas fa-search busqueda"></i></button>
            </div>
        </form>
    </div>

</header>

<body class="home">
  
    <main class="home__main">
        <div class="main__banner-carousel">
            <div id="carouselExampleCaptions" class="carousel slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/banner.jpg" class="d-block w-100" alt="banner">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Todo lo ultimo</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/banner2.jpg" class="d-block w-100" alt="banner">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Más economico</h5>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="/images/banner1.jpg" class="d-block w-100" alt="banner3">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Todas las gamas</h5>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="celulares-ofertas">
            <h1>Ofertas</h1>
            <div class="glider-contain">
                <div class="glider">
                    <div>
                        <img src="/images/lg/LG-Velvet-removebg-preview.png" alt="">
                    </div>
                    <div>
                        <img src="/images/moto/MOTO_G42-removebg-preview.png" alt="">
                    </div>
                    <div>
                        <img src="/images/xiomi/xiaomi-mi-9-removebg-preview.png" alt="">
                    </div>
                    <div>
                        <img src="/images/samsung/Samsung-Galaxy-A52-removebg-preview.png" alt="">
                    </div>
                    <div>
                        <img src="/images/xiomi/xiaomi-redmi-note-6-removebg-preview.png" alt="">
                    </div>

                    <div>
                        <img src="/images/lg/LG-V40-ThinQ-0-removebg-preview.png" alt="">
                    </div>
                    <div>
                        <img src="/images/moto/Moto_Edge_30-removebg-preview.png" alt="">
                    </div>
                    <div>
                        <img src="/images/samsung/Samsung-Galaxy-A14-removebg-preview.png" alt="">
                    </div>
                    <div>
                        <img src="/images/tcl/TCL-405-removebg-preview.png" alt="">
                    </div>
                    <div>
                        <a href="/products/detalle"><img src="/images/lg/lg_q60-removebg-preview.png" alt=""></a>
                    </div>
                </div>

                <button aria-label="Previous" class="glider-prev">
                    <i class="fa-solid fa-circle-chevron-left"></i>
                </button>
                <button aria-label="Next" class="glider-next">
                    <i class="fa-solid fa-circle-chevron-right"></i>
                </button>
                <div role="tablist" class="dots"></div>
            </div>
        </div>

    </main>
    <script src="/javascripts/glider.js"></script>
    <script>
        window.addEventListener("load", function () {
            new Glider(document.querySelector(".glider"), {
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: '.dots',
                arrows: {
                    prev: '.glider-prev',
                    next: '.glider-next'
                },
                draggable: true,
                responsive: [
                    {
                        // screens greater than >= 775px
                        breakpoint: 768,
                        settings: {
                            // Set to `auto` and provide item width to adjust to viewport
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            duration: 0.25,
                            /* itemWidth: 150, */

                        }
                    }, {
                        // screens greater than >= 1024px
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 1,
                            duration: 0.25,


                        }
                    }
                ]
            });
        });
    </script>

    <div class="accesorios">
        <h1>Accesorios</h1>
        <div class="accesorios__img">
            <div class="img">
                <img src="/images/accesorios/61u-BsJ2-eL._AC_SL1000_-removebg-preview.png" alt="">
            </div>
            <div class="img">
                <img src="/images/accesorios/auriculares_jbl-removebg-preview.png" alt="">
            </div>
            <div class="img">
                <img src="/images/accesorios/cargador-original-motorola-turbo-removebg-preview.png" alt="">
            </div>
            <div class="img">
                <img src="/images/accesorios/joystick_celular-removebg-preview.png" alt="">
            </div>
            <div class="img">
            <img src="/images/accesorios/para-celular-soporte-removebg-preview.png" alt="">
        </div>
        <div class="img">
            <img src="/images/accesorios/anillo2.png" alt="">
        </div>
    </div>
    </div>
    <footer class="footer">
        <div class="contenedor1">
            <h4>NOSOTROS</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, quisquam! Laborum, minus quasi? Aspernatur
                tenetur quasi vel suscipit deserunt ad, porro quia amet ullam nemo!</p>
            <h4>SEGUINOS</h4>
        </div>
        <div class="footer-redes-sociales">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
            
        </div>
    </footer>
</body>

</html>