<!DOCTYPE html>
<html lang="en">
<%- include('partial/head',{ title: 'LOGIN' }) %>

    <body style="background-color: var(--colorCeleste);">
        <main class="container mt-5">
            <div class="row mb-5" style="margin-top: 20vh;">
                <div class="col-12 col-md-10 col-lg-6 mx-auto">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <h4 class="text-center">LOGIN</h4>
                            <hr>
                            <form class="row" method="POST" action="">
                                <div class="form-group col-12">
                                    <label class="form-label" for="usuario"></label>
                                    <input type="text" class="form-control form-control-sm" id="usuario" name="usuario"
                                        placeholder="Ingrese su usuario" required>
                                </div>
                                <div class="form-group col-12 ">
                                    <label class="form-label" for="password"></label>
                                    <input type="password" class="form-control form-control-sm mb-3" id="password"
                                        name="password" placeholder="Ingrese su contraseña">
                                    <div class="text-center">
                                        <a href="/">Olvidé mi contraseña</a>
                                    </div>
                                </div>
                        </div>
                        <div class="d-grid gap-2 d-md-block text-center">
                            <button class="btn btn-sm btn-dark mb-3" type="submit">Ingresar</button>
                            <button class="btn btn-sm btn-secondary mb-3"><a href="/" style="color: white">Volver al
                                    HOME</a></button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
            </script>
    </body>