<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script src="https://kit.fontawesome.com/30ad73055a.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>

        <!-- MENSAJE -->
        <div class="mensaje">
            <p>Envìos gratis a CABA y Gran Buenos Aires</p>
        </div>

        <!-- LOGO -->
        <div class="container">
            <a href="/"><img src="/images/Logo.jpeg" alt="img-logo"></a>

            <!-- BURGUER MENU -->
            <div class="contenedor-burger-menu">
                <button class="burguer-menu" type="button">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

            <!-- MENU Y OPCIONES -->
            <div class="contenedor-menu">
                <nav>
                    <ul class="menu-desplegable">
                        <li><a href="/samsung">Samsung</a></li>
                        <li><a href="/motorola">Motorola</a></li>
                        <li><a href="/lg">LG</a></li>
                        <li><a href="/xiomi">Xiomi</a></li>
                        <li><a href="/tcl">TCL</a></li>
                        <li><a href="/accesorios">Accesorios</a></li>
                    </ul>
                </nav>

                <div class="opciones">
                    <ul class="opciones1">
                        <li>
                            <a href="/suscript">Suscribite <i class="far fa-envelope"></i></a>
                        </li>
                        <li>
                            <a href="/support">Soporte <i class="fas fa-headset"></i></a>
                        </li>
                    </ul>

                    <ul class="opciones2">
                        <li>
                            <a href="/login" class="ocult">Mi cuenta </a>
                            <a href=""><i class="fas fa-user user"></i></a>
                        </li>
                        <li>
                            <a href="/cart" class="ocult">Mi carrito </a>
                            <a href=""><i class="fas fa-shopping-cart carrito"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <!-- BUSCADOR -->
        <div class="buscador">
            <form action="/" class="contenedor-buscador">
                <div class="contenedor-input">
                    <input type="text" placeholder="Buscar...">
                    <button class="btn-busqueda"><i class="fas fa-search busqueda"></i></button>
                </div>
            </form>
        </div>

    </header>
    <section class="login"> 
        <h4>Login</h4>
        <div class="control" >
        <input type="text" name="usuario" value="" placeholder="USUARIO">
        <input type="password"name="contraseña" value="" placeholder="CONTRASEÑA">
        </div>
        <div class="olvidaste">
        <label for="olvidaste">¿OLVIDASTE TU CONTRASEÑA?</label>
        <input type="checkbox " name="olvidaste">
        </div>
        <div class="boton">
        <input type="submit" name="" value="INGRESAR">
        </div>
        <div class="terminos">
        <label for="terminos">Términos y condiciones</label>
        <input type="checkbox " name="terminos">
        </div>
    </section> 
    <footer class="footer">
        <div class="contenedor1">
            <h4>NOSOTROS</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, quisquam! Laborum, minus quasi? Aspernatur
                tenetur quasi vel suscipit deserunt ad, porro quia amet ullam nemo!</p>
            <h4>SEGUINOS</h4>
        </div>
        <div class="footer-redes-sociales">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
            
        </div>
    </footer>
</body>
</html>