<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="stylesheet/styles.css">

</head>
<body>
    <section class="login"> 
        <h4>Login</h4>
        <div class="control" >
        <input type="text" name="usuario" value="" placeholder="USUARIO">
        <input type="password"name="contraseña" value="" placeholder="CONTRASEÑA">
        </div>
        <div class="olvidaste">
        <label for="olvidaste">¿OLVIDASTE TU CONTRASEÑA?</label>
        <input type="checkbox " name="olvidaste">
        </div>
        <div class="boton">
        <input type="submit" name="" value="INGRESAR">
        </div>
        <div class="terminos">
        <label for="terminos">Términos y condiciones</label>
        <input type="checkbox " name="terminos">
        </div>
    </section> 
</body>
</html>