<body>

    <div class="contenedor-form-products">

        <h2>Editar producto</h2>

        <form method="POST" action="">

            <div class=" container-input-products">
                <label for="">ID:</label>
                <input type="text">
            </div>
            <div class="container-input-products">
                <label for="">Marca:</label>
                <input type="text">
            </div>
            <div class="container-input-products">
                <label for="">Modelo:</label>
                <input type="text">
            </div>
            <div class="container-input-products">
                <label for="">Color:</label>
                <input type="text">
            </div>
            <div class="container-input-products">
                <label for="">Año:</label>
                <input type="text">
            </div>
            <div class="container-input-products">
                <label for="">Descripción:</label>
                <input type="text">
            </div>
            <div class="container-input-products">
                <label for="">Descuento:</label>
                <input type="text">
            </div>
            <div class="container-input-products">
                <label for="">Precio:</label>
                <input type="text">
            </div>
            <div class="container-input-products">
                <label for="">Stock:</label>
                <select name="select">
                    <option value="value1">True</option>
                    <option value="value2">False</option>
                </select>
            </div>
            <div class="container-input-products">
                <label for="">Cantidad:</label>
                <input type="text">
            </div>
            <div class="container-input-products">
                <label for="">Imagen1:</label>
                <input type="image">
            </div>
            <div class="container-input-products">
                <label for="">Imagen2:</label>
                <input type="image">
            </div>
            <div class="container-input-products">
                <label for="">Especificaciones técnicas:</label>
                <input type="textarea">
            </div>
            <div class="container-input-products">
                <label for="">Img-Sticker:</label>
                <input type="image">
            </div>
            <div class="container-input-products">
                <label for="">Categorìa:</label>
                <select name="select">
                    <option value="value1">Celulares</option>
                    <option value="value2">Accesorios</option>
                </select>
            </div>
            <div class="container-input-products">
                <label for="">Subcategoría:</label>
                <select name="select">
                    <option value="value1">Null</option>
                    <option value="value2">Auriculares</option>
                    <option value="value2">Cargadores</option>
                    <option value="value2">Soportes</option>
                    <option value="value2">Ringo</option>
                </select>
            </div>
        </form>
    </div>
</body>