<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cellshop | Detalles de productos</title>
</head>
<body>
    <main>
        <article>
            <h3>LG Q60</h3>
            <div>
                <img src="/imgs/lg/lg_q60-removebg-preview.png" alt="producto1">
            </div>
            <h2>$60.000</h2>
            <p>Memoria interna: 64GB </p>
            <p>Cámara frontal: 13 Mpx</p>
            <p>Cámara trasera: 16 Mpx </p>
        </article>
    </main>
</body>
</html>