<!DOCTYPE html>
<html lang="en">

<%- include('partial/head',{ title: 'REGISTER' }) %>

  <body>

    <%- include('partial/header') %>
    
      <section class="formulario-registro">
        <h4>Registro</h4>
        <div class="nombre">
          <input type="text" name="Nombre" id="Nombre" placeholder="Ingresa tu nombre" required>
        </div>
        <div class="apellido">
          <input type="text" name="Apellido" id="Apellido" placeholder="Ingresa tu apellido" required>
        </div>
        <div class="email">
          <input type="email" name="Email" id="Email" placeholder="Ingresa tu email" required>
        </div>
        <div class="contraseña">
          <input type="password" name="Contraseña" id="Contraseña" placeholder="Ingresa tu contraseña" required>
        </div>
        <div class="confirmar-contraseña">
          <input type="password" name="Contraseña" id="Confirmar contraseña" placeholder="Confirmar tu contraseña"
            required>
        </div>

        <div class="terminos2">
          <label for="terminos">TERMINOS Y CONDICIONES</label>
          <input type="checkbox" name="acepto">
        </div>
        <div class="boton2">
          <input type="submit" value="Registrarme">
        </div>
        <div class="cuenta">
          <p><a href="/users/login">Ya tengo cuenta</a></p>
        </div>
      </section>
      <%- include('partial/footer') %>
  </body>

</html>