<footer class="footer mt-auto py-3">
    <div>
        <h6>SOBRE NOSOTROS</h6>
        <p>En CellShop, estamos apasionados por la tecnología y comprometidos en brindarte las mejores opciones en
            celulares y accesorios de marcas líderes a precios competitivos. Nos enorgullece ser tu destino confiable
            para todas tus necesidades tecnológicas.</p>
        <p>En CellShop, no solo vendemos productos, sino que creamos relaciones duraderas con nuestros clientes. Estamos
            emocionados de ser parte de tu viaje tecnológico y esperamos servirte de la mejor manera posible.</p>
        <p>¡Gracias por confiar en nosotros!</p>
        <h6>SEGUINOS</h6>
    </div>
    <div>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
    </div>
    <div class="container">
        <span class="text-muted mt-3"> CellShop © 2023. Todos los derechos reservados.</span>
    </div>
</footer>