<footer class="footer mt-auto py-3">
    <div class="contenedor">
        <div class="seccion redes">
            <p>SEGUINOS!!</p>
            <a target="_blank" href="https://es-la.facebook.com/" class="fa fa-facebook"></a>
            <a target="_blank" href="https://www.instagram.com/?hl=en" class="fa fa-instagram"></a>
            <a target="_blank" href="https://twitter.com/" class="fa fa-twitter"></a>
            <a target="_blank" href="https://www.youtube.com/" class="fa fa-youtube"></a>
            <a target="_blank" href="https://ar.linkedin.com/" class="fa fa-linkedin"></a>
            <a target="_blank" href="https://web.whatsapp.com/" class="fa fa-whatsapp"></a>
        </div>
        <div class="seccion ubicacion">
            <p>UBICACION</p>
            <address>
                <p>Buenos Aires, Argentina</p>
            </address>
        </div>
    </div>
    <div class="contenedor-span">
        <span class="text-muted mt-3"> CellShop © 2023. Todos los derechos reservados.</span>
    </div>
</footer>