<footer class="footer">
    <div class="footer-contenedor">
        <h3>SOBRE NOSOTROS</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div>
        <h3>SIGUENOS</h3>
        <div class="footer-contenedor-redes-sociales">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
    </div>
</footer>