<footer class="footer mt-auto py-3">
    <div class="contenedor">
        <div class="redes">
            <p>SEGUINOS!!</p>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
        </div>
        <div class="ubicacion">
            <p>UBICACION</p>
            <p>Buenos Aires, Argentina</p>
        </div>
    </div>
    <div class="contenedor-span">
        <span class="text-muted mt-3"> CellShop © 2023. Todos los derechos reservados.</span>
    </div>    
</footer>