
    <footer class="footer">
        <div class="contenedor1">
            <h4>NOSOTROS</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non, quisquam! Laborum, minus quasi? Aspernatur
                tenetur quasi vel suscipit deserunt ad, porro quia amet ullam nemo!</p>
            <h4>SEGUINOS</h4>
        </div>
        <div class="footer-redes-sociales">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
            
        </div>
    </footer>
