<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <header>

            <!-- LOGO -->
            <figure>
                <img src="" alt="img-logo">
            </figure>

            <!-- BUSCADOR -->
            <form action="/" class="contenedor-buscador">
                <input type="text" placeholder="Buscar productos, marcas">
            </form>
            <button class="btn-busqueda"><i class="fas fa-search busqueda"></i></button>

            <!-- COMPRA -->
            <div class="contenedor-compra">
                <i class="fas fa-hand-holding-usd"></i>
                <span class="text">
                    Comprá en cuotas y sin tarjeta de crédito
                </span>
            </div>

            <!-- MENU -->
            <nav class="contenedor-menu">
                <ul>
                    <li>
                        <a href="">Ofertas</a>
                    </li>
                    <li>
                        <a href="">Tiendas Oficiales</a>
                    </li>
                    <li>
                        <a href="">Vender</a>
                    </li>
                    <li>
                        <a href="">Ayuda</a>
                    </li>
                </ul>
            </nav>

            <!-- OPCIONES -->
            <nav class="contenedor-opciones">
                <ul>
                    <li>
                        <a href="">Creá tu cuenta <i class="far fa-id-card"></i></a>
                    </li>
                    <li>
                        <a href="">Ingresá <i class="fa-sharp fa-solid fa-right-to-bracket"></i></a>
                    </li>
                    <li>
                        <a href="">Mis compras <i class="fas fa-shopping-basket"></i></a>
                    </li>
                </ul>
            </nav>

            <!-- BURGUER MENU -->
            <div class="contenedor-burger-menu">
                <button class="burguer-menu" type="button">
                    <i class="fas fa-bars"></i>
                </button>
            </div>

        </header>
    </header>
</body>

</html>