<header>

    <body>
        <main>
            <!-- MENSAJE -->
            <div class="mensaje">
                <p>Envìos gratis a CABA y Gran Buenos Aires</p>
            </div>

            <!-- LOGO -->
            <div class="container">
                <a href="/"><img src="/images/Logo2.png" alt="img-logo"></a>

                <!-- BURGUER MENU -->
                <!--  <div class="contenedor-burger-menu">
            <button class="burguer-menu" type="button">
                <i class="fas fa-bars"></i>
            </button>
        </div> -->

                <!-- MENU Y OPCIONES -->
                <div class="contenedor-menu">
                    <nav>
                        <ul class="menu-desplegable">
                            <li><a href="/samsung">Samsung</a></li>
                            <li><a href="/motorola">Motorola</a></li>
                            <li><a href="/lg">LG</a></li>
                            <li><a href="/xiomi">Xiomi</a></li>
                            <li><a href="/tcl">TCL</a></li>
                            <li><a href="/accesorios">Accesorios</a></li>
                        </ul>
                    </nav>

                    <div class="opciones">
                        <!-- <ul class="opciones1">
                    
                </ul> -->

                        <ul class="opciones2">
                            <% if (!locals.userLogin) { %>
                                <li><a href="/users/register" class="ocult">Registrate <a href=""><i
                                                class="far fa-envelope"></i></a></a></li>
                                <li><a href="/users/login" class="ocult">Mi cuenta </a><a href=""><i
                                            class="fas fa-user user"></i></a></li>
                                <% } else { %>
                                    <% if (userLogin.rol===1) { %>
                                        <li><a href="/admin">Admin</i></a></li>
                                        <% } %>

                                            <!-- Button cart -->
                                            <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal">
                                                <a href="/products/cart"><i class="fa-solid fa-cart-shopping"></i></a>
                                            </button>



                                            <li><a href="/users/profile">Hola <%= userLogin.name %>!</a></li>
                                            <li><a href="/users/logout">Salir</a></li>
                                            <% } %>

                        </ul>
                    </div>
                </div>
            </div>

            <!-- BUSCADOR -->
            <div class="buscador">
                <form action="/search" method="GET" class="contenedor-buscador">
                    <div class="contenedor-input">
                        <input type="text" name="keywords" id="keywords" placeholder="Buscar...">
                        <button class="btn-busqueda"><i class="fas fa-search busqueda"></i></button>
                    </div>
                    <small id="msgError-keywords" class="ms-2 text-danger"></small>
                </form>
            </div>
        </main>
        <script src="/javascripts/search.js"></script>
    </body>
</header>